Thumbs.db
.DS_Store
.dist
.tmp
.lock
.sass-cache
npm-debug.log
node_modules
builds
package-lock.json
public
resources
jsconfig.json
go.sum
yarn.lock
_vendor/
assets/css/tailwind-built.css
assets/css/generated-theme.css